<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mrsy.rlsy">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@drawable/activity"
        android:label="@string/app_name"
        android:roundIcon="@drawable/activity"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rlsy"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name="com.mrsy.help.help" />
        <activity android:name=".Login" />
        <activity android:name=".Faq" />

        <activity android:name="com.mrsy.upload.updateprofile" />
        <activity android:name="com.mrsy.upload.DetailsActivity" />
        <activity android:name="com.mrsy.upload.ItemsActivity" />
        <activity android:name=".Profile" />
        <activity android:name=".Activity" />
        <activity android:name=".Form" />
        <activity android:name=".Result" />
        <activity android:name=".Notice" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>
    </application>

</manifest>